<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgba(169, 169, 169, 0.561);">
    <h1>Dashboard</h1><br>
    <a href="form/"><button style="background-color: aqua;cursor:pointer;">Insert & Calculate</button></a><br><br>
    <a href="fetchQrImageDataForm/"><button style="background-color: chartreuse;cursor:pointer;">Previous Answer</button></a><br><br>
    <a href="fetchDataForm/"><button style="background-color: chartreuse;cursor:pointer;">Calculate from DB</button></a>
</body>
</html>