<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Representation</title>
    <style>
        body {
            background-color: cadetblue;
            align:center;
            font-family: Sego UI;
        }
    </style>
</head>
<body>
    {% csrf_token %}
    <!-- <p><strong>{{data}}</p> -->
    <h1 style>DATA</h1><br>
    <h3><u>INPUTS</u></h3>
    <p><strong>Title |</strong> {{data.title}}</p>
    <p><strong>Process Id |</strong> {{data.processId}}</p>
    <p><strong>Process Sequence Id |</strong> {{data.processSequenceId}}</p>
    <p><strong>Series |</strong> {{data1.series}}</p>
    <p><strong>Minimum Series |</strong> {{data1.minimumSeries}}</p>
    <p><strong>Minimum Series Data Point |</strong> {{data1.minimumSeriesDatapoint}}</p>
    <p><strong>Minimum Continuous Data Point |</strong> {{data1.minimumContinuousDatapoint}}</p><br>
    <h3><u>STATTRICKS RESULTS</u></h3>
    <p><strong>Mean |</strong> {{data1.mean}}</p>
    <p><strong>Median |</strong> {{data1.median}}</p>
    <p><strong>Mode |</strong> {{data1.mode}}</p>
    <p><strong>Moment1 |</strong> {{data1.moment1}}</p>
    <p><strong>Moment2 |</strong> {{data1.moment2}}</p>
    <p><strong>Moment3 |</strong> {{data1.moment3}}</p>
    <p><strong>Moment4 |</strong> {{data1.moment4}}</p>
    <p><strong>Normal Distribution |</strong> {{data1.normalDistribution}}</p>
    <p><strong>Skewness |</strong> {{data1.skewness}}</p>
    <p><strong>Kurtosis |</strong> {{data1.kurtosis}}</p>
    <p><strong>Range |</strong></strong> {{data1.range}}</p>
    <p><strong>Standard Deviation |</strong></strong> {{data1.standardDeviation}}</p>
    <p><strong>count |</strong></strong> {{data1.count}}</p>
    <p><strong>StartTricks |</strong> {{data1.startTricks}}</p>
    <p><strong>Process Time |</strong></strong> {{data1.processTime}}</p>
</body>
</html>